.DS_Store
Passim/.DS_Store
Passim/Passim.xcodeproj/project.xcworkspace/xcuserdata/pzhao5.xcuserdatad/UserInterfaceState.xcuserstate
UserInterfaceState.xcuserstate
./Passim/Passim.xcodeproj/project.xcworkspace/xcuserdata/pzhao5.xcuserdatad/UserInterfaceState.xcuserstate
